<div class="auth-customizer-none">
  <div
    class="position-relative overflow-hidden radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
          <div class="card mb-0">
            <div class="card-body">
              <h4 class="card-title">{{ forgotPwdTitle | translate }}</h4>
              <p class="card-subtitle mb-3">{{ forgotPwdSubTitle | translate }}</p>
              <form [formGroup]="forgotPasswordForm" novalidate>
                <div class="mb-3">
                  <label for="forgotpassword-email" class="form-label col-12">{{forgotPwdEmailTitle | translate }}&nbsp;<strong class="text-danger">*</strong>
                    <br>
                    <span class="form-label-small">{{forgotPwdEmailSubTitle | translate }}</span>
                  </label>
                  <input type="text" class="form-control" id="forgotpassword-email" name="forgotpassword-email" placeholder="{{forgotPwdEmailTitle | translate }}"
                    formControlName="email" [ngClass]="{ 'is-invalid': isSubmit && email.errors, 'is-valid': !email.errors }">
                  <div class="invalid-tooltip"
                    *ngIf=" email.errors && ( email.dirty ||  email.touched || isSubmit)">
                    <span *ngIf=" email.errors['required']">
                      @if(getLang() == 'en'){
                        {{forgotPwdEmailTitle | translate }} {{isRequiredMessage | translate}}
                      }@else {
                        {{isRequiredMessage | translate }} {{forgotPwdEmailTitle | translate}}
                      }
                    </span>
                  </div>
                </div>
                <button type="button" class="btn btn-primary w-100 py-8 mb-4 rounded-2" (click)="onSubmit()">{{forgotPwdSubmit | translate}}</button>

                <button type="button" class="btn bg-primary-subtle text-primary w-100 py-8" (click)="onBack()">{{forgotPwdBack | translate}}</button>
                <!-- <div class="d-flex align-items-center justify-content-center">
									<p class="fs-4 mb-0 fw-medium">New to Modernize?</p>
									<a class="text-primary fw-medium ms-2" href="../main/authentication-register.html">Create an
										account</a>
								</div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>