
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb border border-info px-3 py-2 rounded">
        @for (item of this.breadcrumbs; track $index; let last = $last) {
          @if (!last) {
            <li class="breadcrumb-item">
              <a href="javascript:void(0)" [routerLink]="item.url" class="text-info d-flex align-items-center text-truncate">
                {{item.label}}
              </a>
            </li>
          } @else {
            <li class="breadcrumb-item active text-dark text-truncate" aria-current="page">
              {{item.label}}
            </li>
          }
        }
        </ol>
      </nav>
    </div>
  </div>
</div>