<label for="{{id}}" class="form-label">{{label}}&nbsp;<strong class="text-danger" *ngIf="isRequired">*</strong>
	<br>
	<span class="form-label-small">{{subLabel}}</span>
</label>
<ngx-select [formControl]="control"
              [allowClear]="true"
              [defaultValue]="doNgxDefault()"
              [items]="items"
              [optionValueField]="'value'"
              [optionTextField]="'label'"
              placeholder="{{ firstOptionName }}"
              (typed)="inputTyped('ngx-select', $event)"
              (focus)="doFocus()"
              (blur)="doBlur()"
              (open)="doOpen()"
              (close)="doClose()"
              (select)="doSelect($event)"
              (remove)="doRemove($event)"
              (selectionChanges)="doSelectOptions($event)">

      <!-- <ng-container *ngTemplateOutlet="contentTemplate || defaultTemplate"></ng-container> -->
      <!-- <ng-template ngx-select-option-selected ngx-select-option let-option let-text="datasources">
        {{datasources[option.data.value] | json}}
      </ng-template> -->
  </ngx-select>
  @if (control && control.errors && (control.dirty || control.touched || this.isSubmit)) {
		<app-standard-error-message class="invalid-tooltip" [control]="control" [fieldName]="fieldName" [messages]="errorMessages"></app-standard-error-message>
	}
  <!-- <ng-template ngx-select-option-selected ngx-select-option let-option let-text="datasources" #defaultTemplate>
    {{datasources[option?.data?.value] | json}}
  </ng-template> -->
