.box-header {
  color: #797979;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 5px;
  margin-left: 0%;
  width: 50px;
  height: 30px;
  right: 0%;
  font-weight: bold;
}

// .section-title {
//   color: #5A6A85 !important;
//   font-weight: 300 !important;
//   font-size: large !important;
//   border-bottom: 1px solid #e6e6e6 !important;
//   padding-bottom: 5px !important;
//   margin-bottom: 10px !important;
// }

.checkbox-padding-top-none{
  padding-top: 0 !important;
}
