<div class="auth-customizer-none">
  <div
    class="position-relative overflow-hidden radial-gradient min-vh-100 w-100 d-flex align-items-center justify-content-center">
    <div class="d-flex align-items-center justify-content-center w-100">
      <div class="row justify-content-center w-100">
        <div class="col-md-8 col-lg-6 col-xxl-3 auth-card">
          <div class="card mb-0">
            <div class="card-body">
              <h4 class="card-title">{{ i18n.changePassword.cardTitle | translate }}</h4>
              <p class="card-subtitle mb-3">{{ i18n.changePassword.subTitle | translate }}</p>
              <form [formGroup]="forgotPasswordForm" novalidate>
                <div class="mb-3">
                  <label for="forgotpassword-username" class="form-label col-12">{{ i18n.changePassword.usernameLabel | translate }}
                    <br>
                    <span class="form-label-small">{{ i18n.changePassword.usernameSubLabel | translate }}</span>
                  </label>
                  <input type="text" class="form-control-plaintext" id="forgotpassword-username" name="forgotpassword-username" placeholder="forgotpassword-username" formControlName="username">
                </div>
                <div class="mb-3">
                  <label for="forgotpassword-password" class="form-label col-12">{{ i18n.changePassword.newPasswordLabel | translate }}&nbsp;<strong class="text-danger">*</strong>
                    <br>
                    <span class="form-label-small">{{ i18n.changePassword.newPasswordSubLabel | translate }}</span>
                  </label>
                  <input type="password" class="form-control" id="forgotpassword-password" name="forgotpassword-password" placeholder="Password"
                    formControlName="password" [ngClass]="{ 'is-invalid': isSubmit && password.errors, 'is-valid': !password.errors }">
                  <div class="invalid-tooltip"
                    *ngIf=" password.errors && ( password.dirty ||  password.touched || isSubmit)">
                    <span *ngIf="password.errors['required']">
                      {{ i18n.changePassword.newPasswordRequire | translate }}
                    </span>
                    <span *ngIf="password.errors['pattern']">
                      {{ i18n.changePassword.newPasswordPattern | translate }}
                    </span>
                  </div>
                </div>
                <div class="mb-4">
                  <label for="forgotpassword-confirm-password" class="form-label">{{ i18n.changePassword.confirmPasswordLabel | translate }}&nbsp;<strong class="text-danger">*</strong>
                    <br>
                    <span class="form-label-small">{{ i18n.changePassword.confirmPasswordSubLabel | translate }}</span>
                  </label>
                  <input type="password" class="form-control" id="forgotpassword-confirm-password" name="forgotpassword-confirm-password"
                    class="form-control" formControlName="confirmpassword" placeholder="Confirm Password"
                    [ngClass]="{ 'is-invalid': isSubmit && confirmpassword.errors, 'is-valid': !confirmpassword.errors }">
                  <div class="invalid-tooltip"
                    *ngIf="confirmpassword.errors && (confirmpassword.dirty || confirmpassword.touched || isSubmit)">
                    <span *ngIf="confirmpassword.errors['required']">
                      {{ i18n.changePassword.confirmPasswordRequire | translate }}
                    </span>
                    <span *ngIf="confirmpassword.errors['mustMatch']">
                      {{ i18n.changePassword.confirmPasswordMustMatch | translate }}
                    </span>
                  </div>
                </div>
                <button type="button" class="btn btn-primary w-100 py-8 mb-4 rounded-2" (click)="reset()">{{ i18n.changePassword.resetButton | translate }}</button>

                <button type="button" class="btn bg-primary-subtle text-primary w-100 py-8" (click)="onBack()">{{ i18n.changePassword.backButton | translate }}</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
