.status{
  color: #5A6A85 !important;
  font-weight: 300 !important;
  font-size: large !important;
  border-left: 1px solid #e6e6e6 !important;
  padding-left: 1em !important;
}

.text-wrap {
  white-space: normal;
  word-wrap: break-word;
}

.nz-list-empty {
  color: rgba(var(--bs-body-color-rgb),.65) !important;
}