<app-standard-form-card [formGroup]="searchForm" [inputConfig]="inputConfig" [amountOfInputPerRow]="2">
  <ng-template #submitTemplate>
    <div nz-row nzAlign="middle" class="d-flex flex-wrap gap-6 mb-3">
      <div nz-col>
        <button class="btn btn-primary" id="group-search-btn" (click)="eventOnSearch()">
          <i nz-icon nzType="search"></i>
          {{i18n.buttons.search | translate}}
        </button>
        <button class="btn btn-outline-primary ms-6" id="group-clearsearch-btn" (click)="eventOnClear()">
          <i nz-icon nzType="filter"></i>
          {{i18n.buttons.clear | translate}}
        </button>
      </div>
    </div>
  </ng-template>
</app-standard-form-card>
<div nz-row class="mb-3">
  <div nz-col nzSpan="24" class="d-flex align-items-center justify-content-end">
    <app-standard-showing-page (pageSizeChanged)="eventOnPageSizeChange($event)"></app-standard-showing-page>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="24">
    <nz-list nzGrid [nzLoading]="isLoading">
      <div nz-row [nzGutter]="16">
        @for (group of responseItems; track group) {
          <div nz-col [nzSpan]="24">
            <nz-list-item>
              <nz-card><nz-card-meta [nzTitle]="extraTemplate">
                <ng-template #extraTemplate>
                  <div nz-row>
                    <div nz-col [nzSpan]="24" [nzMd]="16">
                      <div nz-row>
                        <div nz-col [nzSpan]="24" [nzMd]="12" class="mt-2 p-md-3">
                          <div nz-flex [nzVertical]="true">
                            <label for="title-card-{{$index}}" class="form-label">{{i18n.group.cardTitleCompanyName | translate}}</label>
                            <span  id="gmnl-company-name-{{$index}}" class="form-label-small text-wrap">{{group.companyName}} </span>
                          </div>
                        </div>
                        <div nz-col [nzSpan]="24" [nzMd]="12" class="mt-2 p-md-3">
                          <div nz-flex [nzVertical]="true">
                            <label for="title-card-{{$index}}" class="form-label">{{i18n.group.cardTitleGroup | translate}}</label>
                            <span id="gmnl-group-name-{{$index}}" class="form-label-small text-wrap">{{group.name}} </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div nz-col [nzSpan]="24" [nzMd]="4" class="mt-2 p-md-3">
                      <div>
                        <div nz-flex [nzVertical]="true"  [ngClass]="{ 'status': isVertical, '':!isVertical}">
                          <label for="title-card-{{$index}}" class="form-label">{{i18n.group.cardTitleStatus | translate}}</label>
                          <span id="gmnl-group-active-{{$index}}"  [ngClass]="{ 'status-active text-success': group.isActive && group.isActive == true, 'status-inactive text-danger':group.isActive != true}">{{group.isActive == true ? 'Active':'Inactive'}}</span>
                        </div>
                      </div>
                    </div>
                    <div nz-col [nzSpan]="24" [nzMd]="4" class="d-none d-md-block p-md-3">
                      <div nz-row nz-flex nzJustify="end">
                        @if (permission.checkPermissionList([APP_PERMISSION['GROUP_EDIT'],
                        APP_PERMISSION['GROUP_VIEW']])) {
                        <a (click)="eventOnEdit(group)" title="{{i18n.buttons.view | translate}}" class="btn btn-primary btn-icon m-1" id="gmnl-items-edit-{{$index}}">
                          <i nz-icon nzType="search"></i>
                        </a>
                        }
                        @if (permission.checkPermission(APP_PERMISSION['GROUP_EDIT'])) {
                        <a (click)="eventOnchangeGroupStatus(group)" title="{{i18n.buttons.changeStatus | translate}}" class="btn btn-danger btn-icon m-1" id="gmnl-change-status-btn-{{$index}}">
                          <i nz-icon nzType="sync"></i>
                          <!-- <i class="ti ti-arrows-shuffle" aria-hidden="true" placement="left" tooltip="Change Status"></i> -->
                        </a>
                        }
                      </div>
                    </div>
                    <div class="col-6 ms-auto d-flex d-md-none justify-content-end">
                      <a nz-dropdown [nzDropdownMenu]="menu" class="ant-dropdown-link text-dark" id="new" aria-expanded="false">
                        <i nz-icon nzType="ellipsis" nzTheme="outline"></i>
                      </a>
                      <nz-dropdown-menu #menu="nzDropdownMenu">

                        <ul nz-menu nzSelectable>
                          <li nz-menu-item *ngIf="permission.checkPermissionList([APP_PERMISSION['GROUP_EDIT'], APP_PERMISSION['GROUP_VIEW']])">
                            <a title="{{i18n.buttons.view | translate}}" href="javascript:void(0);" id="gmnl-items-edit-{{$index}}" name="gmnl-items-edit-{{$index}}" (click)="eventOnEdit(group)">
                              <i nz-icon nzType="edit" nzTheme="outline"></i>
                              {{i18n.buttons.edit | translate}}
                            </a>
                          </li>
                          <li nz-menu-item *ngIf="permission.checkPermission(APP_PERMISSION['GROUP_EDIT'])">
                            <a title="{{i18n.buttons.changeStatus | translate}}" href="javascript:void(0);" id="gmnl-change-status-btn" name="gmnl-items-change-status-{{$index}}" (click)="eventOnchangeGroupStatus(group)">
                              <i nz-icon nzType="sync" nzTheme="outline"></i>
                              {{i18n.buttons.changeStatus | translate}}
                            </a>
                          </li>
                        </ul>
                      </nz-dropdown-menu>
                    </div>
                  </div>
                </ng-template>
              </nz-card-meta>
            </nz-card>
            </nz-list-item>
          </div>
        }

      </div>
      @if (responseItems?.length === 0) {
        <nz-list-empty [nzNoResult]="customTpl">
          <ng-template #customTpl let-name>
            <div class="text-center nz-list-empty">
              <span nz-icon nzType="smile"></span>
              <p>{{i18n.fields.emptyData | translate}}</p>
            </div>
          </ng-template>
        </nz-list-empty>
      }
    </nz-list>
  </div>
  <div nz-col nzSpan="24">
    <app-pagination [pagination]="pagination" (pageChanged)="eventPageOnChanges($event)"></app-pagination>
  </div>
</div>
