
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6 col-xxl-3" [ngClass]="{'w-100': pageType == 'modal', 'auth-card': pageType == 'page'}">
    <div class="card mb-0">
      <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-3">
          <h4 class="card-title mb-0">{{ i18n.changePassword.cardTitle | translate }}</h4>
          <div class="ms-auto flex-shrink-0">
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closed()">
              <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
          </div>
        </div>
        <p class="card-subtitle mb-3">{{ i18n.changePassword.subTitle | translate }}</p>
        <form [formGroup]="changePasswordForm" novalidate>
          <div class="mb-3">
            <label for="change-pwd-old" class="form-label col-12">{{ i18n.changePassword.oldPasswordLabel | translate }}&nbsp;<strong class="text-danger">*</strong>
              <br>
              <span class="form-label-small">{{ i18n.changePassword.oldPasswordSubLabel | translate }}</span>
            </label>
            <input type="password" class="form-control" id="change-pwd-old"  placeholder="{{ i18n.changePassword.oldPasswordLabel | translate }}"
              formControlName="old" [ngClass]="{ 'is-invalid': isSubmit && f['old'].errors, 'is-valid': !f['old'].errors }">
            <div class="invalid-tooltip"
              *ngIf=" f['old'].errors && ( f['old'].dirty ||  f['old'].touched || isSubmit)">
              <span *ngIf=" f['old'].errors['required']">
                {{ i18n.changePassword.oldPasswordRequire | translate }}
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="change-pwd-new" class="form-label col-12">{{ i18n.changePassword.newPasswordLabel | translate }}&nbsp;<strong class="text-danger">*</strong>
              <br>
              <span class="form-label-small">{{ i18n.changePassword.newPasswordSubLabel | translate }}</span>
            </label>
            <input type="password" class="form-control" id="change-pwd-new" placeholder="{{ i18n.changePassword.newPasswordLabel | translate }}"
              formControlName="new" [ngClass]="{ 'is-invalid': isSubmit && f['new'].errors, 'is-valid': !f['new'].errors }">
            <div class="invalid-tooltip"
              *ngIf=" f['new'].errors && ( f['new'].dirty ||  f['new'].touched || isSubmit)">
              <span *ngIf="f['new'].errors['required']">
                {{ i18n.changePassword.newPasswordRequire | translate }}
              </span>
              <span *ngIf="f['new'].errors['pattern']">
                {{ i18n.changePassword.newPasswordPattern | translate }}
              </span>
            </div>
          </div>
          <div class="mb-4">
            <label for="change-pwd-confirm" class="form-label">{{ i18n.changePassword.confirmPasswordLabel | translate }}&nbsp;<strong class="text-danger">*</strong>
              <br>
              <span class="form-label-small">{{ i18n.changePassword.confirmPasswordSubLabel | translate }}</span>
            </label>
            <input type="password" class="form-control" id="change-pwd-confirm" formControlName="confirm" placeholder="{{ i18n.changePassword.confirmPasswordLabel | translate }}"
              [ngClass]="{ 'is-invalid': isSubmit && f['confirm'].errors, 'is-valid': !f['confirm'].errors }">
            <div class="invalid-tooltip"
              *ngIf="f['confirm'].errors && (f['confirm'].dirty || f['confirm'].touched || isSubmit)">
              <span *ngIf="f['confirm'].errors['required']">
                {{ i18n.changePassword.confirmPasswordRequire | translate }}
              </span>
              <span *ngIf="f['confirm'].errors['mustMatch']">
                {{ i18n.changePassword.confirmPasswordMustMatch | translate }}
              </span>
            </div>
          </div>
          <button type="button" title="Change Password" id="change-password-btn" class="btn btn-primary w-100 py-8 mb-4 rounded-2" (click)="onSubmit()">{{ i18n.changePassword.submitButton | translate }}</button>

          @if (pageType != 'modal') {
            <button type="button" id="back-btn" class="btn bg-primary-subtle text-primary w-100 py-8" (click)="onBack()">{{ i18n.changePassword.back | translate }}</button>
          }
        </form>
      </div>
    </div>
  </div>
</div>
